/*
Gutenberg: Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.1
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/

/* Font themes
   ========================================================================== */
@media screen and (min-width:40em) {
	.floatLeft {
		float: left;
	}
}
@media screen and (min-width:40em) {
	.floatCenter {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width:40em) {
	.floatRight {
		float: right;
	}
}
