<section id="top" class="one">
	<div class="container">

		<a href="#" class="image featured"><img src="images/rio_chelo.jpg" alt="" /></a>

		<header>
			<h2 class="alt">Hola, soy <strong>David</strong>.<br />
            Me puedes encontrar trabajando en <a href="https://fricolab.com">FricolaB</a>, pero además...</h2>
		</header>
		
		<p>Soy un filósofo apasionado por la tecnología. Diseño productos y servicios
        que respeten los valores fundamentales de la ética hacker: pasión, conciencia 
        social, accesibilidad... Defiendo la cultura libre y la gestión abierta del 
        conocimiento.<br />

        Quise ser muchas cosas y por eso tengo la mochila cargada de historias, 
        algunas de ellas son: formación, emprendimiento social, economía del bien común, 
        innovación social, P2P, economía abierta, economía digital, desarrollo web, 
        cultura digital, diseño y gestión ágil de proyectos... y las que faltan!</p>

		<footer>
			<a href="#portfolio" class="button scrolly">Algunos proyectos</a>
		</footer>

	</div>
</section>