<section id="top" class="one">
	<div class="container">
		</br>
		</br>
        	<header>
			<h2 class="alt">Me puedes encontrar en <a href="https://fricolab.com"><img id="logo-fricolab" src="https://fricolab.github.io/images/logo_fricolaB.png" alt"FricolaB" width="150px"></a>, pero además...</h2>
		</header>

		<p>Diseño productos y servicios que respeten los valores fundamentales
        de la <a href="https://es.wikipedia.org/wiki/%C3%89tica_hacker">ética hacker</a>. Defiendo la cultura libre
        y la gestión abierta del conocimiento.<br />

        Me apasionan muchas cosas y por eso tengo la mochila cargada de historias,
        algunas de ellas son: educación, emprendimiento social, economía del bien común,
        innovación social, economía abierta, desarrollo web,
        cultura digital, diseño y gestión ágil de proyectos... y las que faltan!</p>

		<footer>
			<a href="#portfolio" class="button scrolly">Algunos proyectos</a>
		</footer>

	</div>
</section>
