<section id="portfolio" class="two">
	<div class="container">

		<header>
			<h2>Proyectos</h2>
		</header>
		
		<p>Aquí están algunos proyectos en los que he estado o estoy trabajando.
        Algunos han sido proyectos colectivos, otros proyectos personales,
        muchos se han metamorfoseado a lo largo de los años e incluso algunos
        puede que todavía lo hagan.</p>
	
		<div class="row">
			<div class="4u">
				<article class="item">
					<a href="#" class="image full"><img src="images/pic02.jpg" alt="" /></a>
					<header>
						<h3>FricolaB</h3>
					</header>
				</article>
				<article class="item">
					<a href="#" class="image full"><img src="images/pic03.jpg" alt="" /></a>
					<header>
						<h3>B_cultura</h3>
					</header>
				</article>
			</div>
			<div class="4u">
				<article class="item">
					<a href="#" class="image full"><img src="images/pic04.jpg" alt="" /></a>
					<header>
						<h3>Future Dreams Pavilion</h3>
					</header>
				</article>
				<article class="item">
					<a href="#"><img src="images/pic05.jpg" alt="" /></a>
					<header>
						<h3>El COtaller</h3>
					</header>
				</article>
			</div>
			<div class="4u">
				<article class="item">
					<a href="#"><img src="images/pic06.jpg" alt="" /></a>
					<header>
						<h3>Marea Atlántica</h3>
					</header>
				</article>
				<article class="item">
					<a href="#" class="image full"><img src="images/pic07.jpg" alt="" /></a>
					<header>
						<h3>Educación</h3>
					</header>
				</article>
			</div>
		</div>

	</div>
</section>