<section id="portfolio" class="two">
	<div class="container">

		<header>
			<h2>Proyectos</h2>
		</header>
		
		<p>Aquí están algunos proyectos en los que he estado o estoy colaborando.
        Algunos han sido proyectos colectivos, otros proyectos personales,
        muchos se han metamorfoseado a lo largo de los años e incluso algunos
        puede que todavía lo hagan.</p>
	
		<div class="row">
			<div class="4u">
				<article class="item">
					<a href="https://fricolab.com" class="image full"><img src="images/logo_fricolaB.png" alt="" /></a>
					<header>
						<h3>FricolaB</h3>
					</header>
				</article>
                <article class="item">
					<a href="https://fricolab.com/old/drupal/" class="image full"><img src="images/logo_b_cultura_color.png" alt="" /></a>
					<header>
						<h3>B_cultura</h3>
					</header>
				</article>
            </div>
            <div class="4u">
                <article class="item">
					<a href="" class="image full"><img src="images/formacion.jpg" alt="" /></a>
					<header>
						<h3>Educación</h3>
					</header>
				</article>
                <article class="item">
					<a href="http://www.elcotaller.org/" class="image full"><img src="images/cotaller.png" alt="" /></a>
					<header>
						<h3>El COtaller</h3>
					</header>
				</article>
            </div>    
            <div class="4u">    
                <article class="item">
					<a href="https://en.wikipedia.org/wiki/Expo_2010_pavilions#Urban_Future_Pavilion" class="image full"><img src="images/urbanfuturepavilion.jpg" alt="" /></a>
					<header>
						<h3>Urban Future Pavilion - Shanghai Expo 2010</h3>
					</header>
				</article>
				<article class="item">
					<a href="https://mareatlantica.org/" class="image full"><img src="images/mareatlantica.png" alt="" /></a>
					<header>
						<h3>Marea Atlántica</h3>
					</header>
				</article>

			</div>
		</div>

	</div>
</section>
